body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    max-width: 600px;
    padding: 2rem;
  }

  img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: #6E7E91;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }